.flex-container {
   display: flex;
   justify-content: space-around;
   background: rgba(148, 197, 223, 0.583);

}

h1 {
   color: rgb(92, 153, 175);
   text-align: center;
 }

.flex-container > div{
   margin: 10px;
   padding: 20px;
   font-size: 20px;
   
}

.box_tP{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: #2191D1;
    
}

.ti_text{
    color: white !important;
    font-weight: bold !important;
    margin-top: 2px !important;
    font-size: 15px !important;
 }

 .ti_text2{
    color: white !important;
    font-weight: bold !important;
    text-align:center !important;
 }

 .ti_text3{
    color: rgb(7, 6, 6) !important;
    text-align: justify !important;
 }