.backcister{
    background-image: url('../../assets/img/cisternas2.jpg.crdownload') ;
    background-repeat: no-repeat;
    width: 110vh;
    min-height: calc(100vh - 64px); 
    background-size: cover;
    background-position: right !important;
}

.titulocis{
    margin-left: 250px;
    color: white !important;
    background-image: linear-gradient(to right, #999494 10%, #afaaaa 35%, #999494 85%);
    width: 150vh;
    align-content: center;
    opacity: 0.8;

    
}

.titulocis1{
    margin-top: 100px !important;
    color: white !important;
    background-image: linear-gradient(to right, #999494, #afaaaa);
    width: 150vh;    
    font-weight: bold;    
    text-align: center !important;
    
        
}

.button1{
    font-weight: bold!important;
    color: white !important;
    background-color:  #3f51b5!important;
}

.about{

    background-image: linear-gradient(to right, b#0a3f5e, white);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: calc(100vh - 64px);
    background-size: contain;
  

}

.saibamais{
    
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    text-align: left !important;
}

.clique{
    margin-top: 50px;
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    text-align: left !important;
    
}