.button_del2{
    color: white !important;
    background-color: #0277bd!important;
    font-weight: bold !important; 
}

.button_delNot2{
    color: white !important;
    background-color: #f0100099!important;
    font-weight: bold !important; 
}