.parcimg{
    padding-left: 100px;
}

.txth1{
    position: relative;
}

.txth4{
    font-size: 18px;
    font-style: italic;

    font-weight: 500;
    position: relative;
    }

.vermais{
    font-size: 12px;
}
