.footer{
    width: 100%;
}
.box{
    height: 50px !important;
    background-color: #4AAAE1 !important;
}
.font{
    color: white !important;
    font-size: 30 !important;
    text-decoration: none !important;
}
.box1{
    height: 80px;
    background-color: #4AAAE1 !important;
}
