body, ul {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background: rgba(229, 233, 229, 0.152);
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2191D1;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px) {
    #btn-mobile {
        display:block;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.3s;
        z-index: 1000;
        height: calc(100vh - 70px);
        visibility: visible;
  }
    #nav.active #menu {
        display: block;
              
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1 rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
        display:flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
}