.container2 {
    padding: 45px!important;
    margin-top: 75px!important;

}

.space {
    margin-bottom: 20px!important;
}

.btn {
    margin-top: 20px!important;
    background-color: #2191D199!important;
}