.container_cadcategoria{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}
.card_cadcategoria{
    background-color: #ffffffa1;
    padding: 50px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.text_cadcategoria{
    font-size: 23px;
    font-weight: 600;
    padding-block-end: 3px;
    color: #00352c !important;
}
.input-box2{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F899;
    
    resize: none;
}
.button_cadcategoria{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #00352c !important;
  cursor: pointer;
  transition: all 0.3s ease;
}