.container-categoria{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.card{
    background-color: #ffffff80;
    padding: 100px;
    border-radius: 6%;
    box-shadow: 3px 3px 1px 0px #00000060;
}
.buttom{
    
}