@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto';
}

body{
    margin: 0;
}

#container_cadastro {
    width: 100vw;
    height: 100vh;
    background: url(https://imgur.com/IwBfW3p.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#logo_cadUser{
    height: 80px;
    margin-right: 12px; 
}

.container_cadastro {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    margin-top: 25px;
    border-radius: 4px;
    padding: 26px;
}

.card_cadastro{
    background-color: #c1eff499;
    padding: 50px;
    box-shadow: 3px 3px 1px 0px #00000060;
    position: absolute;
    width: 490px;
}

.texto_cadastro{
    text-align: center;
    font-weight: bold !important;
    color: #003c6c99 !important
}

.botao_ajuste{
    color: white !important;
    background-color: #d0261a !important;
    font-weight: bold !important;
}


.buttton2{
    margin-right: 45px !important;
    color: white !important;
    background-color: #0277bd99 !important;
    font-weight: bold !important;
}

.button-cancel {
    margin-right: 40px!important;
}

.button-submit {
    text-decoration: none!important;
    background-color: #0277bd!important;
}

.field {
	label: #0277bd!important;
}