 .backabout1{
    background: linear-gradient(to right, b#2090d1, white);
    background-repeat: no-repeat;

    min-height: calc(100vh - 64px);
    background-image: url('../../assets/img/sobre.jpg');
    background-size: cover;

} 

.titulosobre{
    margin-right: 50px!important;
    color: white !important;
    width: 100vh;
    text-align: justify;
    opacity: 0.9;
    width: 90vw;
}

.titulosobre1{
    margin-top: 50px;
    margin-bottom: 35px;
    color: white !important;
    background-image: linear-gradient(to right, #01273a,  #7f906e);
    width: 100vw;     
    font-weight: bold;    
    text-align: center !important;
        
}


/* .about{

    background-image: linear-gradient(to right, b#0a3f5e, white);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: calc(100vh - 64px);
    background-size: contain;
  

} */

.saibamais1{
    margin-top: 50px;
    color: white !important;
    text-decoration: none;
}

.clique {
    font-weight: bold;
}

/* .clique1{ 
    margin-top: 50px;
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    
} */

.textosnos{
    color: white;
}

