.backabout1{
    background: linear-gradient(to right, b#2090d1, white);
    background-repeat: no-repeat;
    width: 120vh;
    min-height: calc(100vh - 64px);
    background-image: url('../../assets/img/sobre.jpg');
    background-size: cover;
    background-position: right !important;
}

.titulosobre{
    margin-left: 250px;
    color: white !important;
    background-image: linear-gradient(to right, #01273a 10%,  #7f906e 35%,  #7f906e 85%);
    width: 100vh;
    align-content: center;
    justify-content: center;
    opacity: 0.9;

    
}

.titulosobre1{
    margin-top: 100px !important;
    color: white !important;
    background-image: linear-gradient(to right, #01273a,  #7f906e);
    width: 100vh;    
    font-weight: bold;    
    text-align: center !important;
        
}


.about{

    background-image: linear-gradient(to right, b#0a3f5e, white);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: calc(100vh - 64px);
    background-size: contain;
  

}

.saibamais1{
    
    color: white !important;
    text-decoration: none;
    font-weight: bold;
}

.clique1{
    margin-top: 50px;
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    
}

.textosnos{
    color: white;
}

